<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/mvc
                            http://www.springframework.org/schema/mvc/spring-mvc.xsd
                            http://www.springframework.org/schema/beans
                            http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/context
                            http://www.springframework.org/schema/context/spring-context.xsd">
    <!--静态资源（图片、js、css等）交回给servlet容器(Tomcat)处理-->
    <mvc:default-servlet-handler />
    <!-- 使用注解的方式实现控制器映射 -->
    <mvc:annotation-driven/>
    <!-- jsp(jstl)视图解析器 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp" />
    </bean>
    <!-- service bean 扫描范围 -->
    <context:component-scan base-package="com.cydm.crm.web,
                                          com.cydm.crm.activity.web,
                                          com.cydm.crm.clue.web,
                                          com.cydm.crm.contacts.web,
                                          com.cydm.crm.customer.web,
                                          com.cydm.crm.settings.web,
                                          com.cydm.crm.transaction.web" />

    <!--文件上传解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="#{1024*1024*5}"/>
        <property name="defaultEncoding" value="utf-8"/>
    </bean>


    <!--&lt;!&ndash;拦截器&ndash;&gt;-->
    <!--<mvc:interceptors>-->
        <!--<mvc:interceptor>-->
            <!--<mvc:mapping path="/**"/>-->
            <!--<mvc:exclude-mapping path="/settings/qx/user/**"/>-->
            <!--<mvc:exclude-mapping path="/"/>-->
            <!--<bean class="com.cydm.crm.web.SecurityInterceptor"/>-->
        <!--</mvc:interceptor>-->
    <!--</mvc:interceptors>-->
</beans>